
<div id="company-add" class="container">
    <h3 class="text-center">Add a @ViewBag.DatabaseType to the Database</h3>

    <form class="column-flex form" method="post">
        <label for="companyNameAdd">@ViewBag.DatabaseType Name:</label>
        <input id="companyNameAdd" name="name" required>

        <label for="companyEmailInput">@ViewBag.DatabaseType Email Address:</label>
        <input  id="companyEmailInput" name="email">

        <label for="companyWebsiteInput">@ViewBag.DatabaseType Website:</label>
        <input id="companyWebsiteInput" name="website">

        <button type="submit" id="companySubmitBtn" class="btn">Add <i class="fas fa-check"></i></button>
    
        <p id="companyErrorMessage"></p>
    </form>
</div>

<script src="~/js/companyValidation.js" asp-append-version="true"></script>