<div id="employee-search" class="container">
    <h3 class="text-center">Search @ViewBag.DatabaseType Database</h3>

    <form class="column-flex form" method="post">
        <label for="fNameSearch">First Name:</label>
        <input id="fNameSearch" name="FirstName">

        <label for="lNameSearch">Last Name:</label>
        <input id="lNameSearch" name="LastName">

        <label for="emailSearch">Email Address:</label>
        <input  id="emailSearch"  name="Email">

        <label  for="poWSearch">Place of Work:</label>
        <input  id="poWSearch"  name="PlaceOfWork">

        <label for="numSearch">Phone Number:</label>
        <input id="numSearch" name="PhoneNumber">
    
        <button type="submit" id="employeeSearchBtn" class="btn">Search</button>
    </form>
</div>