
<div id="employee-add" class="container">
    <h3 class="text-center">Add an @ViewBag.DatabaseType to the Database</h3>
    <form class="column-flex form" method="post">
            
        <label for="fNameAdd">First Name:</label>
        <input id="fNameAdd" name="FirstName" required>

        <label for="lNameAdd">Last Name:</label>
        <input id="lNameAdd" name="LastName" required>

        <label for="emailAdd">Email Address:</label>
        <input  id="emailAdd"  name="Email">

        <label  for="poWAdd">Place of Work:</label>
        <input  id="poWAdd"  name="PlaceOfWork">

        <label for="numAdd">Phone Number:</label>
        <input id="numAdd" name="PhoneNumber">

        <button type="submit" id="employeeAddBtn" class="btn">Add</button>
    </form>
</div>