/*
main colour: lightcyan

accent colour:

secondary accent colour: indigo

first bp: 450px
second bp: 768px
third bp:
fourth bp:
*/


html {
  position: relative;
  min-height: 100%;
}

body {
	
	background-color: lightcyan;
	color:indigo;
	font-family: sans-serif;
}

i{
	color: indigo;
}



.delete-warning-message{
	display: none;
}

/* general styles */
.page-top {
	margin-top: 60px;
}

.page-bottom {
	margin-bottom: 60px;
}
/* text styles */
.page-title {
	width: 100%;
}

.text-center{
	text-align: center;
}

/* flex styles */
.column-flex{
    display: flex;
    flex-direction: column;
}

.row-flex{
    display: flex;
}

.flex-center{
    justify-content:center;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}

/* form styles */
.form input, .form select {
	margin-bottom: 15px;
}

.form .row-flex .column-flex {
    margin: 0;
}

.form input, .form select{
	background: lightcyan;
	border-radius: 10px;
	border-color: indigo;
	padding: 3px 10px;
	color: indigo;
	margin-top: 5px;
}

.form input:hover {
	background: indigo;
	border-color: lightcyan;
	color: lightcyan;
}

.form select{
	border-width: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
}



/* button styles */

.btn{
	margin: 5px;
	padding: 3px 5px;
	border: 2px solid indigo;
}

.btn:hover, .btn:hover i{
	color: lightcyan;
	border-color: lightcyan;
}

.btn:hover{
	background: indigo;
}

.main-nav-btns{
	margin-top: 15px;
	display: flex;
	
}

.main-nav-btns a {
	padding: 8px 16px;
}

/* view styles  */


/* update & view styles  */



.view .column-flex {
	border: 2px solid indigo;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 3px 5px;
	min-width: 195px;
	width: 195px;
}



.update .btn {
	width: 120px;
	height: 35px;
}

.view .btn {
	width: 40px;
	height: 40px;
	padding: 5px;
}

.update, .view{
	display: flex;
	flex-direction: column;
}

.view .flex-cntr {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.update .column-flex {
	width: calc(100vw - 70px);
}

.view .viewBtns {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 100%;
}

/* search results styles */


.search-result{
	border: 2px solid indigo;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 5px 0;
}

.search-result:hover, .search-result:hover .btn, .search-result:hover i {
	color: lightcyan;
	border-color: lightcyan;
}

.search-result:hover, .search-result:hover .btn{
	background: indigo;
}

.search-result:hover .btn:hover, .search-result:hover .btn:hover i {
	color: indigo;
	border-color: indigo;
}

.search-result:hover .btn:hover {
	background: lightcyan;
}

.search-result-btn-cntr {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.result-detail{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.result-detail .detail-element{
	padding: 3px 8px;
}



/* delete warning message styles*/

.delete-warning-message{
	text-align: center;
}

.search-result .btn{
	width: 55px;
	font-size: 12px;
}

/* container styles */

.container{
	padding: 5px 10px;
	margin: 0 auto;
}

.logo-cntr{
	margin-bottom: 15px;
	
}

.update .logo-cntr .column-flex{
	width: 200px 
}

.logo-cntr img{
	width:100px;
}

#logoInputAdd,
#logoInputSearch,
#logoInputUpdate{
	font-size: 12px;
}



@media screen and (min-width: 470px) {
	.logo-cntr{
		display: flex;
		justify-content: space-between;
	}

	.container {
		width: 420px;
	}

	.update .column-flex{
		width: 390px;
	}

	

	.main-nav-btns a{
		margin-left: 5px;
		margin-right: 5px;
	}

	.view .flex-cntr{
		display: flex;
	}

	.view .column-flex:nth-child(2n-1) {
		margin-right: 5px;
	}

	.view .column-flex:nth-child(2n) {
		margin-left: 5px;
	}
}

@media screen and (min-width: 800px) {
	.container{
		width: 780px
	}

	html label, html p, html input, html select{
		font-size: 16px;
	}

	.update .column-flex, .view .column-flex {
		width: 335px;
	}

	.update .flex-cntr:nth-child(2n-1){
		margin: 0 10px 0 0;
	}

	.update .flex-cntr:nth-child(2n){
		
		margin: 0 0 0 10px;
	}

	.update, .view{
		flex-direction: row;
		flex-wrap: wrap;	
	}

	.update .btn{
		margin-top: auto;
		margin-bottom: 16px;
		margin-left: 12px;
	}

	.update .logo-cntr .column-flex{
		width: calc(768px / 4 - 15px);
	}
}

@media screen and (min-width: 991px){

}